.signUp {
  display: block;
  padding: 10px;
  height: 43vh;
  border-radius: 2% !important;
  /* margin: 0px 10px; */
  /* width:80%; */
}
.signUp-Grid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px;
  width: 90%;
  animation: slide-in 1.5s ease-out;
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media screen and (max-width: 450px) {
  .signUp {
    height: 45vh;
  }
}
@media screen and (max-width: 400px) {
  .signUp {
    height: 50vh;
  }
}

