@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap");
.register {
  font-size: 1rem !important ;
}
.logo {
  display: flex;
  margin: 7px 20px;
  width: 4%;
  height: 4%;
  border-radius: 5%;
}
@media only screen and (max-width: 972px) {
  .register {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .register {
    font-size: 10px !important;
  }
  .name-mobile{
    font-size: 20px !important;
    font-weight: 100;
  }
  .logo{
    width:10%;
    height:10%;
    margin:2px 5px ;
  }
}
@media screen and (max-width:400px){
  .name-mobile{
    font-size:12px !important;
  }
  .register{
    font-size: 8px !important;
  }
}