.grid-container {
  animation: slide-in 2s ease-out;
  margin:0px 10px;
}
.paper{
  padding: 20px;
   height: 50vh;
  border-radius: 5% !important;
}
@media only screen and (max-width: 1600px) {
  .paper{
    height: 60vh;
  }
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
